body {
  background-color: #fff;
  font-family: "Kozuka Gothic Pro" "HiraKakuProN-W3";
  font-weight: 200;
  font-color: #333;
  margin: 0 auto;
  width: 900px; }
  body a {
    color: #a8d9e9; }
  body .head h1 {
    font-size: 48px;
    text-align: center; }
    body .head h1 a {
      text-decoration: none; }
  body ul.menu {
    width: 490px;
    margin: 0 auto;
    list-style: none; }
    body ul.menu li {
      font-size: 28px;
      width: 150px;
      margin-right: 15px;
      float: left; }
      body ul.menu li a {
        text-align: center;
        display: inherit; }
    body ul.menu li:last-child {
      margin-right: 0; }
  body .clearfix:after, body .clearfix:before {
    content: " ";
    display: table; }
  body .clearfix:after {
    clear: both; }
  body .posts .post {
    margin-bottom: 60px; }
    body .posts .post .image img {
      width: 940px;
      margin-left: -20px; }
    body .posts .post ul.control {
      list-style: none;
      width: 105px;
      margin: 0 auto;
      padding: 0; }
      body .posts .post ul.control li {
        float: left;
        margin-right: 20px;
        font-size: 15px;
        line-height: 19px; }
      body .posts .post ul.control li:last-child {
        margin-right: 0; }
    body .posts .post .date {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd; }
    body .posts .post .body {
      font-size: 18px;
      padding: 0 10px; }
  body .posts .post.text .title {
    font-size: 36px; }
  body .posts .post.text .date {
    font-size: 12px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; }
  body .posts .post.photo .date {
    font-size: 24px; }
  body .posts .post.quote .thequote {
    font-size: 36px; }
  body .posts .post.quote .date {
    font-size: 24px; }
