body {
  background-color: #fff;
  font-family: "Kozuka Gothic Pro" "HiraKakuProN-W3";
  font-weight: 200;
  font-color: #333;
  margin: 0 auto;
  width: 900px; }

a {
  color: #a8d9e9; }

.clearfix:after, .clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.head h1 {
  font-size: 48px;
  text-align: center; }
  .head h1 a {
    text-decoration: none; }

ul.menu {
  padding: 0;
  list-style: none; }
  ul.menu li {
    font-size: 28px;
    margin-right: 15px;
    float: left; }
    ul.menu li a {
      text-align: center;
      display: inherit; }
  ul.menu li:last-child {
    margin-right: 0; }

.posts .post {
  margin-bottom: 60px; }
  .posts .post img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0px rgba(90, 90, 100, 0.6); }
  .posts .post .image img {
    width: 940px;
    margin-left: -20px; }
  .posts .post ul.control {
    list-style: none;
    width: 105px;
    margin: 0 auto;
    padding: 0; }
    .posts .post ul.control li {
      float: left;
      margin-right: 20px;
      font-size: 15px;
      line-height: 19px; }
    .posts .post ul.control li:last-child {
      margin-right: 0; }
  .posts .post .date {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; }
  .posts .post .body {
    font-size: 18px;
    padding: 0 10px; }
.posts .post.link .title,
.posts .post.quote .title,
.posts .post.text .title {
  font-size: 36px; }
.posts .post.link .date,
.posts .post.quote .date,
.posts .post.text .date {
  font-size: 12px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd; }
.posts .post.photo .date {
  font-size: 24px; }
.posts .post.quote .thequote {
  font-size: 36px; }
.posts .post.quote .date {
  font-size: 24px; }
